body{
	padding-top: 70px;
}

.jumbotron{
	color: #4f2511;
	background-color: #f0ebeb;
}

.navbar{
	background-color: #4f2511;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}